<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    {% block title %}<title>試合動画アップロードサイト</title>{% endblock %}
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-logo">
                <a href="{% url 'gamesvideo:index'%}">ホーム</a>
            </div>

            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">詳細</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gamesvideo:signup'%}">新規登録</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <p class="footer-text">© 2026 試合動画アップロードサイト</p>
    </footer>
</body>
</html>